.bundle
.DS_Store
.idea
.svn
db/*.sql
db/*.sqlite3
db/backup
db/schema.rb
log/*.log
public/assets/**/*
public/flash/*.html
public/flash/*.js
public/flash/*App.html
public/stylesheets/compiled/*
tmp/
tmp/**/*
# vendor/desert
# vendor/docdiff
# vendor/flex_sdk
